<h1>このアプリについて</h1>
<p>・自身が作成したウェブアプリを投稿できる</p>
<p>・他者が投稿したアプリを実際に使用できる</p>
<p>・投稿されているアプリにコメントできる</p>
<p></p>
<p>エンジニアに興味のある方、これからエンジニアを目指そうとしている方を想定して本アプリを作成しました。</p>
<p>初めて作成したアプリを世に展開するのはハードルが高いと思います(私もです)。</p>
<p>なので、気軽にアプリ投稿できる場があったらいいなと考え、本アプリを作りました。</p>
<p>他者が投稿されたアプリを実際に使用してみて、イメージを掴むこともできます</p>
<p>また、コメント機能を使って投稿されたアプリに対してフィードバックを行い、みんなでより良いアプリを作って行けたらなーと思います。</p>
<p>どうぞお気軽にアプリ投稿、コメント等してみてください。</p>
<h3 class="ng">ただし、誹謗中は絶対にNGです！！！！</h3>
<p>コメントする際は相手を不快な気持ちにさせないかだけ、今一度確認をお願い致します。</p>
<p></p>
<p> ※ いずれもログインが必要です。</p>
<%= link_to "トップに戻る", root_path %>